body{
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  text-align: center;
  color: #747474;
}

h5 {
  color: #747474;
}

button{
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #4363b4;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a.split {
  float: left;
  color: white;
  font-size: 20px;
}

.textbox {
  border: none;
  width: 95%;
  border-bottom: 1px solid #e7e7e7;
}

.header {
  border-bottom: 1px solid #e7e7e7;
}

.forms {
  width: 900px;
  padding: 0 0 0 0;
}

.btn-success {
  background-color: #26a69a;
  border: none;
}

#loginPage{
  color: #fcb049;
  text-decoration: none;
  font-weight: bold;
}

.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
}

.success {
   background: #d4edda;
   color: #2b6c62;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
}

.postdetails {
  width: 600px;
  padding: 0 0 0 0;
}